<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yijie.data.client.dao.MessageMapper">
	<!-- 关联返回map定义 -->
	<resultMap type="com.yijie.data.client.model.Message" id="MessageMap">
		<id property="id" column="id" />
		<result property="content" column="content" />
		<result property="user_id" column="user_id" />
		<result property="admin_id" column="admin_id" />
		<result property="date" column="date" />
		<result property="title" column="title" />
		<result property="status" column="status" />
		<result property="name" column="name" />
		<result property="admin_num" column="admin_num" />
	</resultMap>
	<!-- 分页拼接 -->
	<sql id="limit_cond">
		<if test="begin !=null">
			limit #{begin,jdbcType=INTEGER},12
		</if>
	</sql>
	<!-- 条件拼接 -->
	<sql id="message_where">
		<where>
			<if test="id != null and id != ''">
				and id = #{id}
			</if>
			<if test="content != null and content != ''">
				and content = #{content}
			</if>
			<if test="admin_id != null and admin_id != ''">
				and admin_id = #{admin_id}
			</if>
			<if test="date != null and date != ''">
				and date = #{date}
			</if>
			<if test="title != null and title != ''">
				and title = #{title}
			</if>
			<if test="name != null and name != ''">
				and name = #{name}
			</if>
			<if test="user_id != null and user_id != ''">
				and user_id = #{user_id}
			</if>
			<if test="status != null ">
				and status = #{status,jdbcType=INTEGER}
			</if>
			<if test="admin_num != null and admin_num != ''">
				and admin_num = #{admin_num}
			</if>
		</where>
	</sql>
	<insert id="messageInsert" parameterType="com.yijie.data.client.model.Message">
		insert into
		yl_message(user_id,name,admin_id,status,title,content,date,admin_num)
		values(#{user_id},#{name},#{admin_id},0,#{title},#{content},#{date},#{admin_num})
	</insert>
	<select id="messageSelect" parameterType="com.yijie.data.client.model.Message"
		resultMap="MessageMap">
		select * from yl_message
		<include refid="message_where"></include>
		<include refid="limit_cond"></include>
	</select>

	<update id="messageUpdate" parameterType="com.yijie.data.client.model.Message">
		update yl_message
		<trim prefix="set" suffixOverrides=",">
			<if test="content != null and content != ''">
				content = #{content},
			</if>
			<if test="admin_id != null and admin_id != ''">
				admin_id = #{admin_id},
			</if>
			<if test="admin_num != null and admin_num != ''">
				admin_num = #{admin_num},
			</if>
			<if test="date != null and date != ''">
				date = #{date},
			</if>
			<if test="title != null and title != ''">
				title = #{title},
			</if>
			<if test="name != null and name != ''">
				name = #{name},
			</if>
			<if test="user_id != null and user_id != ''">
				user_id = #{user_id},
			</if>
			<if test="status != null ">
				status = #{status,jdbcType=INTEGER},
			</if>
		</trim>
		<where>
			<if test="id != null and id != ''">
				and id = #{id}
			</if>
		</where>
	</update>

	<delete id="messageDelete" parameterType="com.yijie.data.client.model.Message">
		delete from yl_message
		<include refid="message_where"></include>
	</delete>
	<select id="messageCount" resultType="java.lang.Integer"
		parameterType="com.yijie.data.client.model.Message">
		select count(*) from yl_message
		<include refid="message_where"></include>
	</select>

</mapper>