<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yijie.data.client.dao.UserMapper">

	<!-- 条件拼接 -->
	<sql id="user_where">
		<where>
			<if test="id != null and id != ''">
				and id = #{id}
			</if>
			<if test="uuid != null and uuid != ''">
				and uuid = #{uuid}
			</if>
			<if test="openid != null and openid != ''">
				and openid = #{openid}
			</if>
			<if test="qquid != null and qquid != ''">
				and qquid = #{qquid}
			</if>
			<if test="num != null and num != ''">
				and num = #{num}
			</if>
			<if test="level != null">
				and level = #{level,jdbcType=INTEGER}
			</if>
			<if test="audit != null">
				and audit = #{audit,jdbcType=INTEGER}
			</if>
			<if test="name != null and name != ''">
				and name = #{name}
			</if>
			<if test="password != null and password != ''">
				and password = #{password}
			</if>
		</where>
	</sql>


	<!-- 分页拼接 -->
	<sql id="limit_cond">
		<if test="begin !=null">
			    limit #{begin,jdbcType=INTEGER},12
			</if>
	</sql>

	<insert id="userInsert"
		parameterType="com.yijie.data.client.model.User">
		insert into
		yl_user(uuid,num,password,name,balance,level,license,audit,qquid,openid)
		values(#{uuid},#{num},#{password},#{name},50,#{level},#{license},#{audit},#{qquid},#{openid})
	</insert>

	<select id="userSelect"
		parameterType="com.yijie.data.client.model.User"
		resultType="com.yijie.data.client.model.User">
		select * from yl_user
		<include refid="user_where"></include>
		<include refid="limit_cond"></include>
	</select>

	<!-- 修改用户信息 -->
	<update id="userUpdate"
		parameterType="com.yijie.data.client.model.User">
		update yl_user
		<trim prefix="set" suffixOverrides=",">
			<if test="audit !=null">
				audit = #{audit,jdbcType=INTEGER},
			</if>
			<if test="password != null and password != ''">
				password = #{password},
			</if>
			<if test="name != null and name != ''">
				name = #{name},
			</if>
			<if test="level != null">
				level = #{level,jdbcType=INTEGER},
			</if>
			<if test="balance != null and balance != ''">
				balance = #{balance},
			</if>
		</trim>
		<where>
			<if test="id != null and id != ''">
				and id = #{id}
			</if>
			<if test="uuid != null and uuid != ''">
				and uuid = #{uuid}
			</if>
		</where>
	</update>
	<delete id="userDelete"
		parameterType="com.yijie.data.client.model.User">
		delete from yl_user
		<include refid="user_where"></include>
	</delete>
   <delete id="userDeleteAll" parameterType="java.util.List">
		delete from yl_user
		where id in
        <foreach collection="list" item="item" open="("
                separator="," close=")">
                #{item.id}  
        </foreach>
	</delete>
	<select id="userCount" resultType="java.lang.Integer"
		parameterType="com.yijie.data.client.model.User">
		select count(*) from yl_user
		<include refid="user_where"></include>
	</select>
</mapper>